<img class="w-screen h-142 object-cover" src="assets/imagenes/fondo1.jpg" alt="fondo_inicio">

<div class="grid sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 mt-15">
    <div class="col-span-12">
        <h1 class="text-4xl text-center font-bold mb-9">
            Bienvenido <span class="text-green-500">{{ nombreUsuario }}</span>
        </h1>
        <div class="flex justify-center mt-5 gap-4">
            <button routerLink="/agendar-cita"
                class="btn-cta bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300">
                Pedir una cita
            </button>
            <button routerLink="/registrar-mascota"
                class="btn-cta bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300">
                Registrar Mascota
            </button>
            <button (click)="pagos()"
            class="bg-green-500 hover:bg-green-600 text-white flex items-center gap-3 px-4 py-2 font-semibold rounded-lg shadow-md transition duration-300">
            <span>Servicios</span>
          </button>
        </div>
    </div>
</div>