<!--Navbar-->
<nav class="bg-white shadow-md px-6 py-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
        <div class="text-2xl font-bold text-green-600">
            VetPro
        </div>
        <div class="flex items-center gap-1 bg-green-500 border-2 border-green-700 rounded-full px-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21c-2.676 0-5.216-.584-7.499-1.882z" />
            </svg>
            <div class="text-white font-bold p-2">
                {{ nombreUsuario }}
            </div>
        </div>
    </div>
</nav>

<img class="w-screen h-142 object-cover" src="assets/imagenes/fondo1.jpg" alt="fondo_inicio">

<div class="grid sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 mt-15">
    <div class="col-span-12">
        <h1 class="text-5xl text-center text-green-500 font-bold">
            Bienvenido {{ nombreUsuario }}
        </h1>
        <div class="flex justify-center mt-5 gap-4">
            <button 
            routerLink="/agendar-cita" 
            class="btn-cta bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300" >
                Pedir una cita
            </button>
            <button 
            routerLink="/registrar-mascota" 
            class="btn-cta bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition duration-300" >
                Registrar Mascota
            </button>
        </div>
    </div>
</div>