<footer class="flex flex-col items-center justify-around w-full py-16 text-sm bg-slate-50 text-gray-800/70">
    <p class="mt-4 text-center">Copyright © 2026. All rights reservered.</p>
    <div class="flex items-center gap-4 mt-6">
        <a routerLink="/home" class="font-medium text-green-500 hover:text-green-600 transition-all">
            Inicio
        </a>
        <div class="h-4 w-px bg-black/20"></div>
        <a href="#" class="font-medium text-gray-800 hover:text-black transition-all">
            Trademark Policy
        </a>
        <a href="#" class="font-medium text-gray-800 hover:text-black transition-all">
            Trademark Policy
        </a>
    </div>
</footer>
